/* Estilos para el título */
.titulo {
	text-align: center;
	color: black;
	font-size: 32px;
  }
  
  /* Estilos para la barra de navegación */
  nav {
	background: linear-gradient(to bottom right, #FFC6C6, #FFC6C6);
	display: flex;
	justify-content: space-between;
	padding: 10px;
  }
  
  nav a {
	background-color: #333333;
	color: #ffffff;
	padding: 10px 20px;
	text-decoration: none;
	border-radius: 5px;
  }
  
  nav a:hover {
	background-color: #222222;
  }
  

  /* Estilos para la sección de búsqueda de producto */
#busqueda-producto {
	text-align: center;
	margin-top: 20px;
  }
  
  #busqueda-producto form {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
  }
  
  #busqueda-producto label {
	margin-right: 10px;
  }
  
  #busqueda-producto input[type="text"] {
	padding: 5px;
  }
  
  /* Estilos para la sección de registro cliente */
#registro-cliente {
	text-align: left;
	margin-top: 20px;
	margin-left: 20px;
  }
  
  #registro-cliente form {
	margin-top: 10px;
  }
  
  #registro-cliente label {
	display: block;
	margin-bottom: 5px;
  }
  
  #registro-cliente input[type="text"],
  #registro-cliente input[type="email"],
  #registro-cliente input[type="password"] {
	padding: 5px;
	width: 200px;
	margin-bottom: 10px;
  }
  
  /* Estilos para la sección de opiniones y valoraciones */
#opiniones {
	text-align: left;
	margin-top: 20px;
	margin-left: 20px;
  }
  
  #opiniones h2 {
	font-weight: bold;
  }
  
  #opinionesContainer p {
	color: #333333;
  }
  

  /* Estilos para la sección de educación sexual */
#educacion {
	text-align: left;
	margin-top: 20px;
	margin-left: 20px;
  }

  /* Estilos para la sección de productos sugeridos */
#productos-sugeridos {
	text-align: left;
	margin-top: 20px;
	margin-left: 20px;
  }
  
  #ver-carrito {
    text-align: left;
    margin-top: 20px;
	margin-left: 20px;
  }
  
  /* Estilos para la sección de contacto */


  /* Estilos para la sección de derechos de autor */
footer {
	text-align: center;
	margin-top: 20px;
  }
  
  header {
	background-color: #8B0000;
	margin-top: -20px;
	padding-top: 20px;
  }
  
  #registro-cliente {
	background: linear-gradient(to bottom right, #FFC6C6, #FFC6C6);
	color: #000000;
	padding: 20px;
  }
  
  #busqueda-producto {
	background: linear-gradient(to bottom right, #FFC6C6, #FFC6C6);
	color: #000000;
	padding: 20px;
  }

  #opiniones,
#educacion,
#productos-sugeridos {
  background: linear-gradient(to bottom right, #FFC6C6, #FFC6C6);
  color: #000000;
  padding: 20px;
}

footer {
	background-color: #333333;
	color: #FFFFFF;
	padding: 20px;
  }